/* 自定义样式 */
/* 8屏样式 */
/*屏幕最小尺寸，防止缩放变形*/
html,
body,
.section {
  min-height: 600px;
  min-width: 1000px;
}
/*第1屏start*/
.section1 {
  background: #fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom;
}
.section1 .airship {
  position: absolute;
  right: 20%;
  top: 10%;
}
.section1 .sofa {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  bottom: 335px;
}
.section1 .goods {
  position: absolute;
  left: 50%;
  margin-left: -420px;
  bottom: 150px;
}
.section1 .airship-updown {
  animation: airship-updown 2s linear infinite;
}
.section1 .sofa-updown {
  animation: sofa-updown 2s linear infinite;
}
@keyframes airship-updown {
  0% {
    top: 10%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 10%;
  }
}
@keyframes sofa-updown {
  0% {
    top: 335px;
  }
  50% {
    top: 360px;
  }
  100% {
    top: 335px;
  }
}
/*第1屏end*/
/*第2屏start*/
.section2 {
  background: #84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
  z-index: 2;
  /*提高2屏的层级，为了2屏沙发掉落到3屏动画时在3屏中不会被遮住*/
}
.section2 .computer-bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 990px;
  height: 500px;
}
.section2 .computer-bg .search {
  position: absolute;
  right: -30px;
  bottom: 300px;
  width: 222px;
  height: 45px;
  background: url(../images/search.png) no-repeat;
  display: none;
}
.section2 .computer-bg .search .search-wrods {
  position: absolute;
  right: 32px;
  top: 5px;
  opacity: 0;
  /*不用display是为了逐渐显示的效果*/
}
.section2 .computer-bg .search-02-1 {
  position: absolute;
  bottom: 300px;
  right: 370px;
  display: none;
  /*jQery show()控制显示*/
}
.section2 .computer-bg .goods-02 {
  height: 100px;
  position: absolute;
  bottom: 217px;
  right: 270px;
  display: none;
}
.section2 .computer-bg .sofa-02 {
  position: absolute;
  bottom: 345px;
  left: 395px;
  width: 100px;
  display: none;
  z-index: 10;
}
.section2 .computer-bg .cover {
  position: absolute;
  bottom: 334px;
  right: 496px;
  width: 101px;
  height: 90px;
  z-index: 5;
  background-color: #fff;
  display: none;
}
.section2 .words-01,
.section2 .words-02 {
  position: absolute;
  left: 50%;
  bottom: 550px;
  transform: translateX(-50%);
}
.section2 .words-01 {
  opacity: 1;
}
.section2 .words-02 {
  opacity: 0;
}
/*第2屏end*/
/*第3屏start*/
.section3 {
  background: #ef674d;
  z-index: 1;
  /*让屏3的层级比屏4高，为了3屏沙发掉落到4屏动画时在4屏中不会被遮住*/
}
.section3 .main {
  position: absolute;
  width: 700px;
  height: 500px;
  background: url(../images/main.png) no-repeat center center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.section3 .main .select {
  position: absolute;
  bottom: 0;
  right: 8px;
  width: 300px;
  height: 250px;
}
.section3 .main .select .img {
  position: absolute;
  top: 0;
  left: 0;
}
.section3 .main .select .btn {
  position: absolute;
  bottom: 10px;
  left: 0;
}
.section3 .main .select .img-active {
  opacity: 0;
}
.section3 .main .select .btn-active {
  opacity: 0;
  /*用opacity隐藏为了逐渐显示的过渡*/
}
.section3 .main .sofa-03-skew {
  position: absolute;
  bottom: 200px;
  width: 207px;
  left: 115px;
  display: none;
}
/*第3屏end*/
/*第4屏start*/
.section4 {
  background: #fed url(../images/t1iresfnxaxxca6rfn-2000-600.png) no-repeat center bottom;
}
.section4 .cloud {
  position: absolute;
  bottom: 550px;
  left: 50%;
}
.section4 .animation-move-horizontal {
  animation: move-horizontal 60s linear infinite;
}
.section4 .words-04 {
  position: absolute;
  bottom: 500px;
  left: 50%;
  transform: translateX(-50%);
}
.section4 .words-04-active {
  opacity: 0;
}
.section4 .car {
  position: absolute;
  width: 500px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.section4 .car .car-good {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: -1;
}
.section4 .addr {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.section4 .addr .addr-info {
  position: absolute;
  top: 60px;
  left: 60px;
  opacity: 0;
  /*淡入淡出*/
}
@keyframes move-horizontal {
  0% {
    left: 50%;
  }
  50% {
    left: -10%;
  }
  100% {
    left: 50%;
  }
}
/*第4屏end*/
/*第5屏start*/
.section5 {
  background: #d04759 url(../images/t1yisqfa4exxa3gmkg-2000-1500.png);
  /*overflow: hidden;*/
  /*因为有沙发送5节落到6节的动画，所以不能在这里使用溢出隐藏*/
  /*perspective透视视距结合translateZ(100px)实现3d旋转效果*/
  /*perspective一般作为属性赋给父元素，作用于所有3d转换的子元素*/
  perspective: 500;
  -webkit-perspective: 500;
  /*第5屏页面元素动画前初始样式 start*/
  z-index: 5;
  /*5节的层级大于6级，以免沙发下落6节时被遮住*/
  /*用于单独设置 鼠标和小手 初始样式溢出盒模型的隐藏*/
  /*第5屏页面元素初始样式 end*/
}
.section5 .words-05 {
  position: absolute;
  left: 20%;
  top: 10%;
  opacity: 0;
}
.section5 .card-05 {
  position: absolute;
  left: 20%;
  bottom: 200px;
  z-index: 10;
}
.section5 .order-05 {
  position: absolute;
  left: 27%;
  bottom: 270px;
}
.section5 .sofa-05 {
  position: absolute;
  bottom: 800px;
  left: 25%;
  display: none;
}
.section5 .mouse-05 {
  position: absolute;
  right: 20%;
  bottom: 200px;
}
.section5 .mouse-05-a {
  opacity: 0;
}
.section5 .hand-05 {
  position: absolute;
  right: 24%;
  bottom: -375px;
}
.section5 .overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section5 .animation-3d-rotate {
  animation: a-3d-rotate 3s forwards;
}
@keyframes a-3d-rotate {
  100% {
    opacity: 1;
    /*translateZ(100px)结合perspective透视视距实现3d旋转效果*/
    /*perspective透视视距固定，translateZ(100px)中值越大，看得越大*/
    transform: translateZ(100px) rotate(360deg);
  }
}
/*第5屏end*/
/*第6屏start*/
.section6 {
  background: #84d9ed url(../images/t1dvj.fn0gxxb0_fua-2500-600.png) no-repeat 25% 100%;
  /*页面元素动画前的初始样式 start*/
  /*页面元素初始样式 end*/
}
.section6 .cloud-06 {
  position: absolute;
  left: 50%;
  bottom: 550px;
}
.section6 .box-06 {
  position: absolute;
  left: 123px;
  bottom: 500px;
  z-index: 99;
  /*使盒子的层级大于沙发*/
}
.section6 .car-06 {
  position: absolute;
  right: 50%;
  bottom: 0;
  z-index: 30;
  /*使配送车的层级大于快递员，防止遮挡*/
}
.section6 .shipping-address {
  position: absolute;
  bottom: 119px;
  right: 48%;
  display: none;
  z-index: 50;
  /*使收货地址的层级大于快递员，防止遮挡*/
}
.section6 .courier {
  position: absolute;
  right: 50%;
  bottom: 0;
  height: 100px;
  z-index: 20;
}
.section6 .girl {
  position: absolute;
  right: 315px;
  bottom: 116px;
  height: 123px;
  display: none;
  z-index: 50;
  /*使女孩的层级大于打开的门*/
}
.section6 .slogan {
  position: absolute;
  left: 10%;
  bottom: 479px;
  display: none;
}
.section6 .accept-goods {
  position: absolute;
  right: 445px;
  bottom: 400px;
  display: none;
  z-index: 40;
  /*使 请收货 的层级大于slogan，防止遮挡*/
}
.section6 .the-open-door {
  position: absolute;
  right: 285px;
  bottom: 116px;
  opacity: 0;
}
.section6 .animation-cloud-06 {
  animation: cloud-06 30s infinite;
}
@keyframes cloud-06 {
  0% {
    left: 50%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 50%;
  }
}
/*第6屏end*/
/*第7屏start*/
.section7 {
  background: #8ac060 url(../images/t1wf1tfctaxxa3gmkg-2000-1500.png) no-repeat 50% 100%;
}
.section7 .star-07 {
  position: absolute;
  left: 50%;
  bottom: 439px;
  margin-left: -295px;
  width: 0;
  height: 20px;
  background: url(../images/star.png) no-repeat;
  background-size: 97px;
}
.section7 .hp-07 {
  position: absolute;
  bottom: 382px;
  left: 50%;
  margin-left: -289px;
  display: none;
}
/*第7屏end*/
/*第8屏start*/
.section8 {
  background: url(../images/ksgw.png);
  /*动画前样式 start*/
  /*动画前样式 end*/
}
.section8 .startShopping {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 365px;
}
.section8 .startShopping .btn-08-active {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.section8 .btn-replay {
  position: absolute;
  bottom: 403px;
  left: 50%;
  margin-left: 240px;
  cursor: pointer;
}
.section8 .hand-08 {
  position: absolute;
  bottom: 0;
  left: 50%;
}
/*第8屏end*/
/* 导航滑块颜色 */
#fp-nav ul li a span {
  background-color: #f40 !important;
}
/* 直接进入购物中心--固定图标 */
.go-center {
  position: fixed;
  display: block;
  top: 5%;
  right: 5%;
  z-index: 999;
}
/*next 继续往下*/
.next {
  position: fixed;
  bottom: 120px;
  right: 10%;
  z-index: 999;
  cursor: pointer;
}
.next-updown {
  animation: next-updown 0.8s linear infinite;
}
@keyframes next-updown {
  0% {
    bottom: 120px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 120px;
  }
}
